.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    left: 20x;
    width: 80px;
}



